.footer {
  max-width: 1280px;
  margin: 0 auto;
}

.footer__container {
  border-top: 1px solid #E8E8E8;
  width: 89.0625%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
}


.footer__description {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  padding-top: 79px;
}


.footer__copyright {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  padding: 20px 0 20px;
  margin: 0;
}

.footer__list {
  display: flex;
  list-style-type: none;
  padding: 20px 0 20px;
  margin: 0;
}

.footer__list-item {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
  margin-right: 20px;
}

.footer__list-item:hover {
  opacity: 0.5;
  transition: 2s;
  cursor: pointer;
}

.footer__link {
  text-decoration: none;
  color: #000000;
}

.footer__link:visited {
  color: #000000;
}

.footer__list-item:last-of-type {
  margin-right: 0;
}


@media screen and (min-width: 501px) and (max-width: 768px) {
  .footer__container {
    width: 92.1875%;
  }
}

@media screen and (max-width: 500px) {
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 21px;
    width: 93.75%;
  }
  .footer__list {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    padding-top: 30px;
  }

  .footer__list-item {
    margin-right: 0;
    margin-bottom: 12px;
    font-size: 12px;
    text-decoration: none;
  }

  .footer__list-item:last-of-type {
    margin-bottom: 0;
  }
  .footer__copyright {
    margin-top: 10px;
    color: #A0A0A0;
    font-size: 12px;
  }

  .footer__description {
    font-size: 12px;
  }
}
